<div class="container">
  <mat-card class="card">
    <mat-card-title>
      <h2>Create New User</h2>
    </mat-card-title>
    <mat-card-content class="content-form">
      <form [formGroup]="formUser">
        <input class="inp-name" matInput type="text" formControlName="name">
      </form>
    </mat-card-content>
    <div>
      <button mat-raised-button color="primary" (click)="createUser()"> Create </button>
    </div>
  </mat-card>

  <div class="container-card">
    <h2>Users</h2>
    <mat-card class="card-name" *ngFor="let card of user">
      <h5>{{card.name}}</h5>
    </mat-card>
  </div>
</div>