.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.card {
    width: 40%;
    text-align: center;
    padding: 20px;
    margin: 20px 20px;
}

.content-form {
    width: 100%;
}

.inp-name {
    width: 50%;
    height: 30px;
    margin: 10px auto;
    border-radius: 10px;
}

.container-card {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.card-name {
    width: 95%;
    text-align: center;
    margin: 10px auto;
}

@media (max-width: 500px) {
    .card {
        width: 90%;
        text-align: center;
        margin: 10px auto;
    }

    .container-card {
        width: 100%;
    }

    .card-name {
        width: 90%;
        text-align: center;
        margin: 10px auto;
    }

} 