<div class="container">
  <div class="container-title">
    <h2 class="title">Create Note</h2>
  </div>
  <mat-card class="card">
    <form [formGroup]="formNote">
      <div class="form">
        <input class="inp-title" matInput type="text" formControlName="title" placeholder="Title">
        <textarea class="inp-write" type="text" formControlName="content" placeholder="Write"></textarea>
        <input class="inp-date" matInput type="date" formControlName="date">
        <select class="inp-select" formControlName="user">
          <option value="">Marco</option>
          <option value="">Pablo</option>
          <option value="">Andrea</option>
        </select>
      </div>
      <div class="button">
        <button mat-raised-button (click)="save()" color="primary">Ingresar</button>
      </div>
    </form>
  </mat-card>
</div>