.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

.container-title {
    width: 100%;
    margin: 30px auto;
}

h2 {
    font-size: 25px;
    color:  #000080;
}

.card {
    width: 50%;
    padding: 25px;
    margin: 20px auto;
}

.form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.inp-title {
    width: 50%;
    height: 40px;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
}
.inp-write {
    width: 50%;
    height: 200px;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
}

.inp-date {
    width: 50%;
    margin: 20px auto;
}

.inp-select {
    width: 50%;
    margin: 20px auto;
}