$colorNegro: #0d0d0d;
$colorAmarillo: #f2c230;
$colorBlanco: #fdfdfd;


.container-nav {
  width: 100%;
  background: #000080;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.container-name {
    width: 50%;
    text-align: start;
    margin: auto 15px;
}

.container-name p {
    font-size: 20px;
    color: $colorBlanco;
}

.container-btn {
  width: 40%;
  text-align: center;
  margin: 20px;
}
.btn-menu {
  width: 20%;
  font-size: 20px;
  text-align: center;
  height: 40px;
  color: $colorBlanco;
  text-align: center;
  margin: 0 20px;
}

@media (max-width: 1024px) {
  .btn-menu {
    width: 18%;
    font-size: 16px;
    height: 30px;
    color: $colorBlanco;
    text-align: center;
    margin: 0 20px;
    transition: 1s;
  }

  .container-name {
    width: 50%;
    text-align: start;
    margin: auto 15px;
}
  
} 
@media (max-width: 720px) {
  .btn-menu {
    width: 18%;
    font-size: 14px;
    height: 20px;
    color: $colorBlanco;
    text-align: center;
    margin: 0 15px;
    transition: 1s;
  }

  .container-name {
    width: 100%;
    text-align: center;
    margin: 15px auto;
}

.container-btn {
  width: 100%;
}
  
} 
@media (max-width: 400px) {
  .btn-menu {
    width: 18%;
    font-size: 12px;
    text-align: center;
    height: 20px;
    color: $colorBlanco;
    text-align: center;
    margin: 0 12px;
    transition: 1s;
  }

  .container-name {
    width: 100%;
    text-align: center;
    margin: 15px auto;
}
.container-btn {
  width: 100%;
}
} 