<div class="container-nav">
  <div class="container-name">
    <p>NotesApp</p>
  </div>
  <div class="container-btn">
    <a mat-button class="btn-menu" (click)="notes()">Notes</a>
    <a mat-button class="btn-menu" (click)="createNote()">Create Note</a>
    <a mat-button class="btn-menu" (click)="createUser()">Create User</a>
  </div>
</div>