<div class="container">
  <mat-card class="card" *ngFor="let card of note">
    <mat-card-header>
      <h2>{{card.title}}</h2>
      <h5>Creado por: {{card.name}}</h5>
    </mat-card-header>
    <mat-card-content class="content-card">
      <p>{{card.content}}</p>
    </mat-card-content>
    <div class="container-btns">
      <button mat-stroked-button class="btn" color="warn">Delete</button>
      <button mat-stroked-button class="btn" color="primary" (click)="editNote()">Edit</button>
    </div>
  </mat-card>
</div>