.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

.card {
    width: 20%;
    padding: 25px;
    margin: 20px auto;
}

h2 {
    width: 100%;
    font-size: 25px;
}

h5 {
    width: 100%;
    margin: 40px auto;
}

.content-card {
    width: 100%;
    text-align: justify;
}

.container-btns {
    width: 100%;
}

.btn {
    margin: auto 10px;
}

@media (max-width: 1024px) {
    .card {
        width: 30%;
        padding: 25px;
        margin: 20px auto;
    }

    .content-card {
        width: 100%;
        text-align: justify;
    }

    .container-btns {
        width: 100%;
    }

    .btn {
        margin: 10px 10px;
    }
  
  } 
@media (max-width: 700px) {
    .card {
        width: 70%;
        padding: 25px;
        margin: 20px auto;
    }

    .content-card {
        width: 100%;
        text-align: justify;
    }

    .container-btns {
        width: 100%;
    }

    .btn {
        margin: 10px 10px;
    }
  
  } 
@media (max-width: 400px) {
    .card {
        width: 70%;
        padding: 25px;
        margin: 20px auto;
    }

    .content-card {
        width: 100%;
        text-align: justify;
    }

    .container-btns {
        width: 100%;
    }

    .btn {
        margin: 10px 10px;
    }
  
  } 